 <!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>关于丽猫电商</h2>
                <hr class="star-light">
                <p>每笔交易只收取10%手续费</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>它是一个全球化的买家卖家网上交易市场。我们在寻找广大开发者，设计师。请把你们的广告和简历发送至此。</p>
            </div>
            <div class="col-lg-4">
                <p>我们每笔交易只收10%手续费，这个和苹果商店的30%比是非常低的。</p>
            </div>
        </div>
    </div>
</section>