 <!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About WARYCAT</h2>
                <hr class="star-light">
                <p>We collect only 10% per transaction</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>It is a Marketplace for clients and service providers to do business online world wide. We are looking for developers and designers. Please post your AD or portforlio here.</p>
            </div>
            <div class="col-lg-4">
                <p>We only collect <b>10%</b> per transaction. It is very low compared to Apple Store which takes <b>30%</b>.</p>
            </div>
        </div>
    </div>
</section>