<hr class="star-primary">
<h3>电子订票</h3>
<div class="row control-group">
    <div id="CardNo" class="form-group col-xs-12 floating-label-form-group controls">
        <label>信用卡号码</label>
        <input type="tel" class="form-control" placeholder="XXXX XXXX XXXX XXXX">
        <div name="isRequired" class="text-danger tidy">必填</div>
    </div>
    <div id="CardCVV" class="form-group col-xs-6 floating-label-form-group controls">
        <label>安全码</label>
        <input type="tel" class="form-control" placeholder="XXX">
        <div name="isRequired" class="text-danger tidy">必填</div>
    </div>
    <div id="Quantity" class="form-group col-xs-6 floating-label-form-group controls">
        <label>数量</label>
        <input type="tel" class="form-control" placeholder="1">
        <div name="isRequired" class="text-danger tidy">必填</div>
    </div>
    <div id="Email" class="form-group col-xs-12 floating-label-form-group controls">
        <label>取票邮箱</label>
        <input type="email" class="form-control" placeholder="someone@example.com">
        <div name="isRequired" class="text-danger tidy">必填</div>
    </div>
    <div id="Pay" class="form-group col-xs-12 floating-label-form-group controls">
        <label>安全支付</label>
        <button class="btn btn-success btn-block" type="button">特价: $<span>0</span></button>
    </div>
    <div id="Success" class="form-group col-xs-12 floating-label-form-group controls">
        <label>收款失败，请正确填写信用卡信息。</label>
        <button class="btn btn-danger btn-block" type="button">重新填写</button>
    </div>
</div>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>

<script>
    console.log(braintree);
    var bturl = 'https://008.io/braintree/0';
    $('#Pay > button').click(function(){
        $('#CardNo > input').val('4111111111111111');
        $('#CardCVV > input').val('123');
        $('#Quantity > input').val('1');
        $('#Email > input').val('larry.fantasy@gmail.com');

        var cardNo = $('#CardNo > input').val();
        var cardCVV = $('#CardCVV > input').val();
        var quantity = $('#Quantity > input').val();
        var email = $('#Email > input').val();
        $.getJSON(bturl + '/token',function(data){
            var client = new braintree.api.Client({clientToken:data.clientToken});
            var card = {
              number: cardNo,
              cvv: cardCVV,
            };
            client.tokenizeCard(card,function(err,nonce){
              if(!err){
                var param = $.param({nonce:nonce});
                $.post(bturl + '/nonce?' + param, function(data){
                  console.log(data);
                });
              }
            });
        });
    });
// function pay(){

//   var data = {};
//   var source = $('#pay-template').html();
//   var template = Handlebars.compile(source);
//   var html = template(data);
//   var $mainhtml = $(html);
//   $mainhtml.appendTo($('body'));
//   $.getJSON(bturl + '/token',function(data){
//     console.log(data);
//     var client = new braintree.api.Client({clientToken:data.clientToken});
//     var card = {
//       number: '378750084281017',
//       cardholderName: 'patrick swen',
//       // You can use either expirationDate
//       expirationDate: '11/18',
//       // CVV if required
//       cvv: '1381',
//     };
//     client.tokenizeCard(card,function(err,nonce){
//       if(!err){
//         var param = $.param({nonce:nonce});
//         $.post(bturl + '/nonce?' + param, function(data){
//           console.log(data);
//         });
//       }
//     });
//   });
// }
</script>