<hr class="star-primary">
<h3>服务订购</h3>
<img src="/img/ccs.jpg" class="img-responsive img-centered" />
<div class="row control-group">
    <div id="ServiceID" class="form-group col-md-6 floating-label-form-group controls">
        <label>服务项目</label>
        <select type="text" class="form-control">
        <option disabled value="">选择服务项目</option>
        </select>
        <div name="isRequired" class="text-danger tidy">必填</div>
    </div>

    <div id="Email" class="form-group col-md-6 floating-label-form-group controls">
        <label>发票邮箱</label>
        <input type="email" class="form-control" placeholder="someone@example.com">
        <div name="isRequired" class="text-danger tidy">必填</div>
    </div>

    <div id="CardHolder" class="form-group col-md-6 floating-label-form-group controls">
        <label>持卡人</label>
        <input type="text" class="form-control" placeholder="Johnny Appleseed">
        <div name="isRequired" class="text-danger tidy">必填</div>
    </div>

    <div id="Phone" class="form-group col-md-6 floating-label-form-group controls">
        <label>手机</label>
        <input type="tel" class="form-control" placeholder="Johnny Appleseed">
        <div name="isRequired" class="text-danger tidy">必填</div>
    </div>

    <div id="CardNo" class="form-group col-xs-12 floating-label-form-group controls">
        <label>信用卡号码</label>
        <input type="tel" class="form-control" placeholder="XXXX XXXX XXXX XXXX">
        <div name="isRequired" class="text-danger tidy">必填</div>
    </div>
    <div id="CardExp" class="form-group col-xs-6 floating-label-form-group controls">
        <label>有效期</label>
        <input type="tel" class="form-control" placeholder="MMYY">
        <div name="isRequired" class="text-danger tidy">必填</div>
    </div>
    <div id="CardCVV" class="form-group col-xs-6 floating-label-form-group controls">
        <label>安全码</label>
        <input type="tel" class="form-control" placeholder="XXX">
        <div name="isRequired" class="text-danger tidy">必填</div>
    </div>
    <div id="Pay" class="form-group col-xs-12 floating-label-form-group controls">
        <label>安全支付</label>
        <button class="btn btn-success btn-block" type="button">WARYCAT : $<span id="amount">0</span></button>
    </div>
    <div id="Wait" class="form-group col-xs-12 floating-label-form-group controls" style="display:none;">
        <label>正在处理</label>
        <button class="btn btn-warning btn-block" type="button">请稍后...</button>
    </div>
    <div id="Again" class="form-group col-xs-12 floating-label-form-group controls" style="display:none;">
        <label>收款失败，请正确填写信用卡信息。</label>
        <button class="btn btn-danger btn-block" type="button">重新填写</button>
    </div>
    <div id="Confirm" class="form-group col-xs-12 floating-label-form-group controls" style="display:none;">
        <label>交易成功，邮件已发送。</label>
        <button class="btn btn-primary btn-block" type="button">查看订单</button>
    </div>
</div>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>

<script>

var json = '{{json}}';
var dict = JSON.parse(json);
$.each(dict.services,function(key,service){
    var $option = $('<option value='+ key +'>' + service.title +'</option>');
    $('#ServiceID > select').append($option);
});

$('#ServiceID > select').change(function(){
    var v = $('#ServiceID > select').val();
    console.log(dict.services[v]);
    $('#amount').text(dict.services[v].retail);
});

var bturl = 'https://008.io/braintree/1';
// var bturl = 'http://localhost:3000/braintree/0';
$('#Pay > button').click(function(){
    // failInput();
    var serviceID = $('#ServiceID > select').val();
    var email = $('#Email > input').val();
    var phone = $('#Phone > input').val();
    var cardHolder = $('#CardHolder > input').val();
    var cardNo = $('#CardNo > input').val();
    var cardExp = $('#CardExp > input').val();
    var cardCVV = $('#CardCVV > input').val();

    if(!serviceID){
        $('#ServiceID > div').fadeIn();
        return;
    }else{
        $('#ServiceID > div').fadeOut();
    }

    if(!email){
        $('#Email > div').fadeIn();
        return;
    }else{
        $('#Email > div').fadeOut();
    }

    if(!email){
        $('#Phone > div').fadeIn();
        return;
    }else{
        $('#Phone > div').fadeOut();
    }

    if(!cardHolder){
        $('#CardHolder > div').fadeIn();
        return;
    }else{
        $('#CardHolder > div').fadeOut();
    }

    if(!cardNo){
        $('#CardNo > div').fadeIn();
        return;
    }else{
        $('#CardNo > div').fadeOut();
    }

    if(!cardExp){
        $('#CardExp > div').fadeIn();
        return;
    }else{
        $('#CardExp > div').fadeOut();
    }

    if(!cardCVV){
        $('#CardCVV > div').fadeIn();
        return;
    }else{
        $('#CardCVV > div').fadeOut();
    }

    $('#Pay').hide();
    $('#Wait').fadeIn();
    var mm = cardExp.substring(0,2);
    var yy = cardExp.substring(2,4);
    $.getJSON(bturl + '/token',function(data){
        var client = new braintree.api.Client({clientToken:data.clientToken});
        var card = {
            number: cardNo,
            cardholderName: cardHolder,
            expirationDate: mm + '/' + yy,
            cvv: cardCVV,
        };
        client.tokenizeCard(card,function(err,nonce){
            if(err) {
                console.log(err);
                return;
            }
            var merchantID = dict.merchantID;
            var productID = merchantID + '#' + serviceID; 
            var item = {nonce:nonce,serviceID:serviceID,productID:productID,cardHolder:cardHolder,phone:phone,merchantID:dict.merchantID,email:email};
            $.ajax({
                type: "POST",
                url: bturl + '/service/nonce',
                data: JSON.stringify(item),
                success: function(data){
                    if(data.success){
                        if(data.confirmItem.error){
                            soldout();
                        }else{
                            console.log(data.confirmItem);
                            confirm(data);
                        }
                    }else{
                        console.log(data);
                        submitAgain();
                    }
                },
                failure: function(errMsg){
                    console.log(errMsg);
                    // alert(JSON.stringify(errMsg));
                }
            });
        });
    });
});

$('#Again > button').click(function(){
    $('#Pay').fadeIn();
    $('#Again').hide();
});

function confirm(data){
    $('#Wait').hide();
    $('#Confirm').fadeIn();
    $('#Confirm').click(function(){
        $.cookie('confirmItem',JSON.stringify(data.confirmItem),{path:'/'});
        window.location.href = '/thanksService_cn';
    });
}

function submitAgain(){
    $('#Wait').hide();
    $('#Again').fadeIn();
}

function failInput(){
    $('#ServiceID > select').val('tax2015a');
    $('#CardHolder > input').val('YINCHU XIA');
    $('#CardNo > input').val('4111111111111111');
    $('#CardCVV > input').val('123');
    $('#CardExp > input').val('1219');
    $('#Phone > input').val('6266286332');
    $('#Email > input').val('larry.fantasy@gmail.com');
}

function successInput(){
    $('#ServiceID > select').val('tax2015a');
    $('#CardHolder > input').val('YINCHU XIA');
    $('#CardNo > input').val('4111111111111111');
    $('#CardCVV > input').val('123');
    $('#CardExp > input').val('1219');
    $('#Phone > input').val('6266286332');
    $('#Email > input').val('larry.fantasy@gmail.com');
}

function clear(){
    $('#CardNo > input').val('');
    $('#CardCVV > input').val('');
    $('#CardExp > input').val('');
    $('#Quantity > input').val('');
    $('#Email > input').val('');
}

</script>