 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.merchant-id }}" >
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <hr class="star-primary">
                        <img src="/img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="manager photo">
                        <p>{{ post.description }}</p>
                        <a href={{post.url}}><button class='btn btn-primary btn-lg'>Read More</button></a>
                        {% for service in post.services %}
                            <button class='btn btn-primary btn-lg'>{{service[0]}} ${{service[1]}}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}