<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Labor Pricing</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% for post in site.categories.subscription %}
                <div class="col-sm-3 portfolio-item">
                    <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Management Pricing</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% for post in site.categories.transaction %}
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>
            {% endfor %}

        </div>


        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>APP Design</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% for i in (1..14) %}
                <div class="col-sm-2 portfolio-item">
                        <img src="/img/app/app{{i}}.gif" class="img-responsive" alt="{{ post.alt }}">
                </div>
            {% endfor %}
        </div>
    </div>
</section>