<section id="register" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>经理注册</h2>
                <hr class="star-primary">
                <p>立即获得$5，三天后查收!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div>
                    <div class="row control-group">
                        <div id="firstname" class="form-group col-md-6 floating-label-form-group controls">
                            <label>First Name</label>
                            <input type="text" class="form-control" placeholder="名字 [First Name]">
                            <div name="isRequired" class="text-danger tidy">必填 [required]</div>
                        </div>
                        <div id="lastname" class="form-group col-md-6 floating-label-form-group controls">
                            <label>Last Name</label>
                            <input  type="text" class="form-control" placeholder="姓氏 [Last Name]">
                            <div name="isRequired" class="text-danger tidy">必填 [required]</div>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div id="yyyy" class="form-group col-md-4 floating-label-form-group controls">
                            <label>Date Of Birth YYYY</label>
                            <select  class="form-control">
                                <option value=''>生年 [YYYY]</option>
                            </select>
                            <div name="isRequired" class="text-danger tidy">必填 [required]</div>
                        </div>
                        <div id="mm" class="form-group col-md-4 floating-label-form-group controls">
                            <label>Date Of Birth MM</label>
                            <select  class="form-control">
                                <option value=''>生月 [MM]</option>
                            </select>
                            <div name="isRequired" class="text-danger tidy">必填 [required]</div>
                        </div>
                        <div id='dd' class="form-group col-md-4 floating-label-form-group controls">
                            <label>Date Of Birth DD</label>
                            <select class="form-control">
                                <option value=''>生日 [DD]</option>
                            </select>
                            <div name="isRequired" class="text-danger tidy">必填 [required]</div>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div id="email" class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" class="form-control" placeholder="电子邮箱 [Email]">
                            <div name="isRequired" class="text-danger tidy">必填 [required]</div>
                            <div name="isEmail" class="text-danger tidy">无效邮箱 [email invalid]</div>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div id="phone" class="form-group col-md-6 floating-label-form-group controls">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control" placeholder="电话号码 [Phone]" >
                            <div name="isRequired" class="text-danger tidy">必填 [required]</div>
                            <div name="is_10_digits" class="text-danger tidy">10位数字 [10 digits]</div>
                        </div>
                        <div id="ssn" class="form-group col-md-6 floating-label-form-group controls">
                            <label>Social Security Number Optional</label>
                            <input type="tel" class="form-control" placeholder="社会安全号 [SSN] 选填 [Optional]" >
                            <div name="isRequired" class="text-danger tidy">必填 [required]</div>
                            <div name="is_9_digits" class="text-danger tidy">9位数字 [9 digits]</div>
                        </div>

                    </div>

                    <div class="row control-group">
                        <div id="street" class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Street Address</label>
                            <input type="text" class="form-control" placeholder="街道地址 [Street]" >
                            <div name="isRequired" class="text-danger tidy">必填 [required]</div>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div id="city" class="form-group col-md-4 floating-label-form-group controls">
                            <label>City</label>
                            <input type="text" class="form-control" placeholder="城市 [City]" >
                            <div name="isRequired" class="text-danger tidy">必填 [required]</div>
                        </div>
                        <div id="state" class="form-group col-md-4 floating-label-form-group controls">
                            <label>State</label>
                            <select class="form-control">
                                <option value=''>州 [State]</option>
                            </select>
                            <div name="isRequired" class="text-danger tidy">必填 [required]</div>
                        </div>
                        <div id="zip" class="form-group col-md-4 floating-label-form-group controls">
                            <label>Zip Code</label>
                            <input type="text" class="form-control" placeholder="邮编 [Zip Code]" ng-model="zip">
                            <div name="isRequired" class="text-danger tidy">必填 [required]</div>
                            <div name="is_5_digits" class="text-danger tidy">5位数字 [5 digits]</div>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div id="routing" class="form-group col-md-6 floating-label-form-group controls">
                            <label>Routing Number</label>
                            <input type="tel" class="form-control" placeholder="银行代码 [Routing Number]">
                            <div name="isRequired" class="text-danger tidy">必填 [required]</div>
                            <div name="is_9_digits" class="text-danger tidy">9位数字 [9 digits]</div>
                        </div>
                        <div id="account" class="form-group col-md-6 floating-label-form-group controls">
                            <label>Account Number</label>
                            <input type="tel" class="form-control" placeholder="账户代码 [Account Number]">
                            <div name="isRequired" class="text-danger tidy">必填 [required]</div>
                            <div name="isNumeric" class="text-danger tidy">数字 [numeric]</div>
                        </div>
                    </div>
                    <div>
                        <img src='/img/check.jpg' class="img-responsive center-block">
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button id="submit" type="submit" class="btn btn-success btn-lg">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/register.js"></script>