<hr class="star-primary">
<h3>总销量: $<span id="TotalSales">0</span> 库存: <span id="Inventory"></span></h3>
<table id="transactions" class="table">
<tr><th>时间</th><th>邮箱</th><th>数量</th></tr>
</table>

<script>

var transactionurl = 'http://008.io/transaction';
var productID = '{{ticketID}}';
var retail = '{{retail}}';
console.log(retail);

$.getJSON(transactionurl+'/reportTickets?id=' + productID,function(data){
	$.each(data.transactions,function(key,value){
		console.log(value);
		var date = new Date(value.ts);
		$('<tr><th>'+ date.toLocaleDateString() +'</th><th>'+value.email+'</th><th>'+value.quantity+'</th></tr>').appendTo($('#transactions'));
	});
	$('#Inventory').text(data.upload - data.download);
	$('#TotalSales').text(data.download * parseInt(retail));
});

</script>