<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
    <div class="container">
        <div class="portfolio-modal model" id="portfolioModal-{{ page.merchant-id }}" >
            <div class="modal-content">
                <div class="col-lg-8 col-lg-offset-2" >
                    <div class="modal-body">
                        <h2>{{ page.title }}</h2>
                        <hr class="star-primary">
                        <img src="/img/portfolio/{{ page.img }}" class="img-responsive img-centered" />
                        <p align="left">{{ page.description }}</p>
                        <div align="left">{{ content }}</div>
                        <ul class="list-group btn-lg">
                        {% include contacts.html %}

                        {% for service in page.services %}
                            <a href="/">
                                <li class='list-group-item'>{{service[0]}} ${{service[1]}}</li>
                            </a>
                        {% endfor %}
                        </ul>
                    </div>
                    <div id="disqus_thread"></div>
                </div>
            </div>
            <a href='/index_cn'>
                <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
            </a>
        </div>
	</div>
    <script src="/js/disqus.js"></script>
    </body>
</html>