<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
    <div class="container">
        <div class="portfolio-modal model" id="portfolioModal-{{ page.merchant-id }}" >
            <div class="modal-content">
                <div class="col-lg-8 col-lg-offset-2" >
                    <div class="modal-body">
                        <h2>{{ page.title }}</h2>
                        <hr class="star-primary">
                        <p>{{ page.name }}</p>
                        <img src="/img/portfolio/{{ page.img }}" class="img-responsive img-centered" />
                        <p align="left">{{ page.description }}</p>
                        <div align="left">{{ content }}</div>
                        <ul class="list-group btn-lg">
                        {% include contacts.html %}
                        {% for service in page.services %}
                            <a id={{service.id}} >
                                <li id={{service[0]}} class='list-group-item'>{{service[1].title}} 原价: <strike style='color:red'><span style='color:grey'>${{service[1].full}}<span></strike> 特价: <span style='color:red'>${{service[1].retail}}</span></li>
                            </a>
                        {% endfor %}
                        </ul>
                        {% capture merchantID %}{{page.merchantID}}{% endcapture %}
                        {% capture json %}{{page.json}}{% endcapture %}
                        {% include formService_cn.html %}
                        {% include friends_cn.html %}
                        {% include salesMerchant_cn.html %}
                    </div>
                    <div id="disqus_thread"></div>
                </div>
            </div>
            <a href='/index_cn'>
                <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
            </a>
        </div>
	</div>
    <script src="/js/disqus_cn.js"></script>
    </body>
</html>