<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
    <div class="container">
        <div class="portfolio-modal model" >
            <div class="modal-content">
                <div class="col-lg-8 col-lg-offset-2" >
                    <div class="modal-body">
                        <h2>{{ page.title }}</h2>
                        <hr class="star-primary">
                        <p>{{ page.message }}</p>
                        <img src="/img/bluecat.gif" class="img-centered" />
                        <p align="left">{{ page.description }}</p>
                        <div align="left">{{ content }}</div>
                        </table>
                    </div>
                    <div id="disqus_thread"></div>
                </div>
            </div>
            <a href='/index_cn'>
                <div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
            </a>
        </div>
	</div>
    <script src="/js/disqus_cn.js"></script>
    </body>
</html>